<%- include('../includes/head.ejs') %>

    <body>
        <%- include('../includes/nav.ejs') %>

            <main class="container is-max-desktop mt-6">
                <div class="card p-5">
                        <div class="card-header-title px-5">
                            <div class="media-content">
                                <p class="title is-4 is-capitalized"><%= post.title %></p>
                                <p class="subtitle is-6">@<%= post.username%></p>
                            </div>
                            
                        </div>
                    <div class="card-image px-5">
                        <figure class="image is-4by3">
                            <img src="/<%= post.imageUrl %>"
                                alt="<%= post.title%>" width="100px" />
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content has-text-justified">
                            <%= post.description %>
                            <br><br>
                            <em> <%= new Intl.DateTimeFormat('en-GB', { year: 'numeric', month: 'long', day: '2-digit', hour:'numeric', minute:'numeric', hour12:true }).format(post.date)%> </em>
                        </div>
                    </div>
                </div>
            </main>

            <%- include('../includes/end.ejs') %>