<%- include('../includes/head.ejs')%>

    <body>
        <%- include('../includes/nav.ejs')%>
            <main>
                <% if(errMsg){%>
                    <div class="notification is-warning is-light p-2">
                        <%=errMsg%>
                    </div>
                    <%}%>

                        <% if(posts.length>0){%>
                            <div class="columns is-multiline is-4 m-4">
                                <% for(let post of posts) { %>
                                    <div class="column is-one-quarter">
                                        <div class="card">
                                            <div class="card-image">
                                                <figure class="image is-4by3">
                                                    <img src="http://localhost:8000/<%= post.imageUrl %>"
                                                        alt="<%= post.title%>" width="100px" />
                                                </figure>
                                            </div>
                                            <div class="card-content" >
                                                <div class="is-flex mb-1">
                                                    <div class="pr-2">
                                                        <form action="/admin/like-post" method="post">
                                                            <input type="hidden"  name="postId" value="<%= post._id %>" />
                                                            <button type="submit" class="buttons-like-commit button is-ghost p-0 "> <i class="far fa-thumbs-up p-8"></i></button>
                                                        </form>
                                                        
                                                    </div>
                                                    <div class="pl-2" >
                                                        <input type="hidden"  name="postId" value="<%= post._id %>" />
                                                        <form action="/admin/like-post" method="post">
                                                            <button type="submit" class="buttons-like-commit button is-ghost p-0" > <i class="far fa-comments p-8"></i></button>
                                                        </form>
                                                        
                                                    </div>
                                                    
                                                </div>
                                                <div class="has-text-weight-bold mb-3"> <%= post.likes %> likes</div>
                                                <div class="media">
                                                    <div class="media-left">
                                                        <div class="media-content">
                                                            <p class="title is-4 is-capitalized">
                                                                <%= post.title%>
                                                            </p>
                                                            <p class="subtitle is-6">@<%= post.username%></p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="content">
                                                    <% if(post.description.length>= 25) { %>
                                                        <%= post.description.slice(0, 25).concat('...') %>
                                                            <% }else{ %>
                                                                <%= post.description %>
                                                                    <% } %>
                                                </div>
                                            </div>
                                            <footer class="card-footer">
                                                <a class="card-footer-item"
                                                    href="/posts/<%= post._id %>">Details</a>

                                                <% if(session.isLoggedIn){%>
                                                <a class="card-footer-item"
                                                    href="/admin/edit-post/<%= post._id %>?edit=true">Edit</a>
                                                <form action="/admin/delete-post" method="POST">
                                                    <input type="hidden"  name="postId" value="<%= post._id %>" />
                                                    <a class="card-footer-item" href="#"
                                                        onclick="this.closest('form').submit();return false;">Delete</a>
                                                </form>
                                                <%}%>

                                            </footer>
                                        </div>
                                    </div>
                                    <% } %>
                            </div>
                            <% } else { %>
                                <h1 class="title">No Posts Found!</h1>
                                <% } %>
            </main>

            <%- include('../includes/end.ejs')%>